.aboutMeCard {
  display: flex;
  flex-direction: column;
  border: none;
  background-color: #121212;
  height: auto;
  scrollbar-color: #121212;
  border-radius: 10px;
}
.mypic {
  border: none;
  max-height: 60vh;
  border-radius: 10px;
}

.cardbody {
  padding-top: 20px;
  background: #292b2c;
  border-radius: 10px;
}

.cardbody > p {
  padding: 10px;
  color: white;
}

.myLinks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
