.btn {
  margin: 1%;
}
.ptitle {
  text-decoration: underline;
  color: white;
  font-size: 20px;
  text-align: center;
}

.pic {
  margin-bottom: 5px;
  background-color: none;
  border: 0in;
  cursor: pointer;
  max-width: 75vw;
  min-width: 75vw;
  max-height: fit-content;
  border-radius: 10px;
}
.card {
  height: fit-content;
  margin: auto;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  border: none;
  overflow: hidden;
}
.card__container {
  background-color: #121212;
  padding: 15px;
}
.description {
  color: white;
  padding: 30px;
  padding-bottom: 15px;
}
h3 {
  color: whitesmoke;
  text-decoration: none;
}
